<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="page-wrap">
			<header id="h1" class="main">
				<h2><%= title %>: el juego de las preguntas.</h2>
			</header>
			<nav id="n1" class="main">
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes/question">Preguntas</a></span>
			</nav>
			<section id="s1" class="main">
				<%- body %>
			</section>
			<footer id="f1" class="main">
				<a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
			</footer>	
		</div>
	</body>
</html>