* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px Georgia, serif;	
}

#page-wrap {
	color: white;
	margin: 2% auto;
}

#page-wrap > .main {
	border: 1px solid #999; 
	color: black;
	margin-bottom: 1px;
	padding: 1%;
}

section > div {
	padding: 20px;
}

header, 
nav, 
section, 
footer {
	background: #eee;
	text-align: center;
}

nav span {
	margin: 0 10px 0 0;
}

footer ul li {
	list-style: none;
}

img#github {
	height: 30px;
	width: 30px;
}

table {
	margin:auto;
	width: 80%;
}

#creditos {
	display: block;
 	margin: auto;
    width: 80%;
}

img#photo {
	float: left;
	padding: 0 0 2% 0;
	width: 18%;
}

div#course,
div#author,
div#profesion,
div#claustro,
div#correo,
div#teacher {
	float: right;
	width: 80%;
	text-align: left;
}

.video-box {
	clear: both;
    margin: auto;
    width: 80%;
}

.video{
    height:0px;
    padding-top:56.25%;
    position: relative;
    width: 100%;
}

iframe{
    height:100%;
    left:0px;
    position: absolute;
    top:0px;
    width:100%;
}