body {
	background: #999;
}

#page-wrap:after {
	content: 'Wide Layout';
}

nav {
	float: left;
	height: 200px;
	width: 15%;
}

nav span {
	margin: 0 100px 0 0;
}

section {
	float: right;
	width: 80%;
}

footer {
	clear: both;
	display: block;
}