<!DOCTYPE html>
<html lang="es">
	<head>
		<meta chatset="utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css" />
	</head>
	<body>
		<h2><%= title %>: el juego de las preguntas</h2>
		<p><small><b>Respuesta:</b></small><br /><%= respuesta %></p>
		<a href="/quizes/question">Intentelo otra vez</a>
	</body>
</html>