<form method="get" action="/quizes/answer">
	<label for="pregunta"><small><b>Pregunta:</b></small><br /> <%= pregunta %></label><br /> 
	<input type="text" name="respuesta" placeholder="Responda aquí" />
	<button type="submit">Enviar</button>
</form>